Source: openvpn-config
Section: unknown
Priority: optional
Maintainer: root <root@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>

Package: openvpn-config
Architecture: all
Depends:
 ${misc:Depends}, openvpn, easy-rsa
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
